body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
}

.wrapper {
    padding: 5rem;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

button {
    height: 2rem;
    background-color: darkslategrey;
    color: white;
    border: 1px darkslategray solid;
    padding-left: 0.2rem;
    border-radius: 6px;
}

button a {
    color: white;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgrey;
    font-size: 1rem;
}

/* PAGE DES PRODUITS  */

.product {
    padding: 1rem;
    border: solid 1px lightgray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    -moz-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
}

.avatar, .product-img, .home-img {
    width: 200px;
    height: 250px;
    margin-bottom: 2rem;
}

.product h3 {
    height: 40px;
}

.product .description {
    height: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 1rem;
}

/* NAVBAR  */


nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 4rem;
    top: 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
}

.burger-btn {
    width: 2rem;
    position: fixed;
    left: 1rem;
    cursor: pointer;
    z-index: 1;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    position: fixed;
    left: -20rem;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index:0;
}

.cart-btn {
    top: 1rem;
    width: 2rem;
    position: fixed;
    right: 1rem;
}

.open {
    left: 1rem;
    opacity: 1;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul li {
    margin-left: 1rem;
}

li {
    list-style-type: none;
}



/* STYLE DE LA HOMEPAGE */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PAGE DE CONTACT  */

.contact-form, .signup-form, .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    width: 20rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    border-radius: 6px;
    border: 1px solid darkgray;
    padding-left: 0.2rem;
} 

input[type="submit"] {
    cursor: pointer;
    width: 20.5rem;
    height: 2rem;
    background-color: darkslategrey;
    color: white;
    border: 1px darkslategray solid;
}

.contact-form textarea {
    height: 10rem;
}

.contact-form label {
    text-align: left;
}

.error {
    text-align: center;
    color: red;
}


/* CART  */


.delete-btn {
    background-color: brown;
    color: white;
}


/* PROFILE PAGE  */

.avatar {
    width: 8.5rem;
    height: 9rem;
    border-radius: 100%;
}

.profile-card {
    width: 50rem;
    height: 25rem;
    margin: auto;
    display: flex;
    -webkit-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    -moz-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    border-radius: 20px;
}

.profile-card section {
    display: flex;
}

.left {
    background: linear-gradient(90deg, darkslategrey 0%, darkgray 100%);
    width: 15rem;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.right {
    width: 35rem;
    padding: 1.5rem;
}

.right div {
    width: 17.5rem;
}

.email, .phone {
    display: block;
}